@import 'reset.scss';
@import 'mixin.scss';
:root {
  --box-principal: #121212;
  --box-secundario: #242424;
  --body-bkg: #000000;
  --box-card: #181818;
  --font-white: #FFFFFF;
  --font-black: #000000;
  --font-gray: #8F8F8F;
  --bkg-arrow: #131313;
  --bkp-pill-black: #0F0F0F;
  --bkg-pill-white: #FFFFFF;
  --bkg-circle-social: #292929;
}


